<html>

<head>
<title>QRead All</title>
<link href="bundle.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, maximum-scale=0.85" />
</head>

<frameset rows="75%,25%">
<frameset cols="33%,33%,33%">
  <frame class="allstyle" src="http://104.155.234.188/?b=apple&m=<%=mode%>&a=<%=autolink%>">
  <frame class="allstyle" src="http://104.155.234.188/?b=yahoo&m=<%=mode%>&a=<%=autolink%>">
  <frame class="allstyle" src="http://104.155.234.188/?b=fb&m=<%=mode%>&a=<%=autolink%>">
 </frameset>
  <frame class="allstyle" src="http://104.155.234.188/?b=twitter&f=e&m=<%=mode%>&a=<%=autolink%>">
</frameset>

</html>