<div class="contentitem">
	<div class="centerp">
		<div class="centerchild"><%=parseInt(page)+1%>/<%=total%> </div>
	</div>
	<p class="contain" id="contain<%=page%>"><%- data[i] %></p>
	<div class="centerp" id="ttsplay" style="cursor:pointer">TTS</div>
	<div class="centerp" id="autottsplay" style="cursor:pointer">TTS auto</div>
	<div class="centerp" id="ttscontroldiv<%=page%>"></div>	
</div>
	